<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matts Space</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Matthew Kay's Space", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About me", "About", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <img src="~/mjk_header3.jpg" />
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="container body-content">
        <h2>About Me and Projects</h2><br>
        <span class="byline"><p>You can also see some more information about me and currrent and past projects I have been working on from the links at the top of the page.</p></span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
